In [1]:
import os
os.chdir('/Users/derrick.cho/Desktop/Tax-Calculator')
import pandas as pd
import numpy as np
import taxcalc as tc

In [2]:
# 2017 Reform
path_name = 'taxcalc/reforms/2017_law.json'
jfile = open(path_name, 'r')
jtext = jfile.read()
jfile.close()
reform2017 = tc.Calculator._read_json_policy_reform_text(jtext, {}, {})
 
pol2017 = tc.Policy()
pol2017.implement_reform(reform2017)

In [3]:
wg = pd.read_excel('Notebooks/wgrowth16.xlsx')
wg

,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027
0,8189.2000,8567.300000,8947.900000,9291.700000,9616.100000,9966.000000,10350.800000,10757.800000,11180.800000,11621.200000,12079.700000,12557.500000
1,1.0000,1.046171,1.092646,1.134629,1.174242,1.216969,1.263957,1.313657,1.365310,1.419089,1.475077,1.533422
2,1.0386,1.056500,1.073000,1.087500,1.100300,1.113300,1.125800,1.138400,1.151100,1.164000,1.177100,1.190200
3,1.0000,1.017235,1.033122,1.047083,1.059407,1.071924,1.083959,1.096091,1.108319,1.120739,1.133353,1.145966

In [4]:
calc = tc.Calculator(policy = pol2017, records = tc.Records())

for y in range(2013,2028):
    calc.advance_to_year(y)
    calc.calc_all()
    tdf = calc.dataframe(['c00100','c17000', 'c04470'])
    if y > 2016:
        tdf.c00100 = tdf.c00100/(wg[y][1] / wg[y][3])
    cond = (tdf.c17000 > 0) & (tdf.c04470 > 0)
    tdf['med2'] = np.where((tdf.c00100 < 30000) & cond, 1, 0)
    tdf['med3'] = np.where((tdf.c00100 >= 30000) & (tdf.c00100 < 50000) & cond, 1, 0)
    tdf['med4'] = np.where((tdf.c00100 >= 50000) & (tdf.c00100 < 100000) & cond, 1, 0)
    tdf['med5'] = np.where((tdf.c00100 >= 100000) & (tdf.c00100 < 200000) & cond, 1, 0)
    tdf['med6'] = np.where((tdf.c00100 >= 200000) & cond, 1, 0)


    tdf.to_csv('/Users/derrick.cho/Desktop/taxdata/puf_data/med' + str(y) + '.csv')

You loaded data for 2011.
Tax-Calculator startup automatically extrapolated your data to 2013.